html{
  font-size: 16px;
}
body{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(112, 147, 182));
  background: radial-gradient(rgb(255, 255, 255), rgb(112, 147, 182));
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: rgb(4, 12, 32);
}
p:first-of-type{
  font-weight: bold;
}
a{
  color: red;
  text-decoration: none;
}
a:hover{
  color: blue;
}
a:visited{
  text-decoration: underline;
}
q{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(244, 244, 244);
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-left: 3px solid rgb(113, 17, 17);
  display: block;
}
blockquote p{
  font-size: 1.6rem;
}
q{
  font-style: italic;
}
section{
  clear: both;
}
.farmer{
  border-left: 3px solid rgb(221, 224, 36);
}
.villagers{
  border-left: 3px solid rgb(245, 43, 140);
}
header > h1{
  background-color: rgb(251, 255, 47);
}
.good{
  text-transform: capitalize;
  color: green;
}
.bad{
  text-transform: capitalize;
  color: red;
}
.grey{
  background-color: grey;
}
.white{
  background-color: white;
}
ul{
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}
ul li:first-child{
  background-image: url(../img/bien.png);
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
}
ul li:nth-child(2){
  background-image: url(../img/mal.png);
  background-repeat: no-repeat;
  background-position: left;
}
ul li:nth-child(3){
  background-image: url(../img/chat.png);
  background-repeat: no-repeat;
  background-position: left;
}
img{
  float: left;
  margin-right: 20px;
}
