*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(112, 147, 182));
  background: radial-gradient(rgb(255, 255, 255), rgb(112, 147, 182));
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
p{
  font-size: 1rem;
  letter-spacing: 0.3px;
  color: rgb(4, 12, 32);
  margin-bottom: 20px;
}
a{
  color: rgb(236, 116, 40);
}
a:hover{
  color: rgb(153, 93, 55);
}
a:visited{
  color: rgb(171, 160, 224);
}
header > h1{
  background-color: rgb(251, 255, 47);
  margin-top: 30px;
  padding: 20px;
}
figure{
  margin-bottom: 40px;
}
figcaption{
  display: block;
  clear: both;
  font-style: italic;
  font-size: 0.7rem;
}
h2{
  margin-top: 20px;
  margin-bottom: 40px;
}
blockquote{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-left: 3px solid rgb(201, 27, 3);
  background: rgb(244, 244, 244);
  padding: 30px 80px 30px 80px;
  margin: 80px auto 80px auto;
  display: block;
  font-style: italic;
}
blockquote p{
  font-size: 1.6rem;
}
blockquote footer{
  background-color: transparent;
  color: rgb(4, 12, 32);
  margin: 0;
  padding: 0;
}
q{
  background: rgb(244, 244, 244);
  padding: 30px;
  display: block;
  width: 50%;
  margin: 60px auto 60px auto;
  font-style: italic;
  font-size: 1.6rem;
}
.good{
  text-transform: capitalize;
  color: green;
}
.bad{
  text-transform: capitalize;
  color: red;
}
.farmer{
  border-left: 3px solid rgb(221, 224, 36);
}
.villagers{
  border-left: 3px solid rgb(245, 43, 140);
}
section{
  clear: both;
  margin-top: 40px;
}
/* ////////////////////// Section Intro ////////////////////////*/
section.intro h2{
  margin-bottom: 0;
}
section.intro img{
  float: left;
  margin-right: 20px;
  width: 400px;
}
section.intro figure{
  float: right;
  margin-left: 20px;
}

/* ////////////////////// ul ////////////////////////*/
ul{
  margin-bottom: 30px;
}
ul li {
  list-style-type: none;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}
ul li:first-child{
  background-image: url(../img/bien.png);
  background-repeat: no-repeat;
  background-position: left;
}
ul li:nth-child(2){
  background-image: url(../img/mal.png);
  background-repeat: no-repeat;
  background-position: left;
}
ul li:nth-child(3){
  background-image: url(../img/chat.png);
  background-repeat: no-repeat;
  background-position: left;
}
/* ////////////////////// Table ////////////////////////*/
table{
  border: 2px solid rgb(200, 200, 200);
}
table caption{
  padding: 10px;
  caption-side: bottom;
  font-size: 0.7rem;
}
th, td{
  padding: 10px;
}
tr:nth-child(even){
  background-color: rgb(235, 235, 235);
}
tr:nth-child(odd){
  background-color: white;
}
/* ////////////////////// Footer ////////////////////////*/
footer{
  margin-top: 50px;
  color: #FFF;
  background-color: rgb(20, 14, 10);
  padding: 20px;
}
